<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - Spotify</title>
    {% else %}
    <title>Spotify</title>
    {% endif %}
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>


    <!-- NEW -->
    <nav class="navbar navbar-expand-lg ">
      <!-- Container helps to style nav bar -->
      <div class="container-fluid py-2" style="background-color: #b4cbdd;">
        <a class="navbar-brand " href="{{ url_for('main.index') }}">SmileApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!-- Button targets id of div to be toggled -->
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- toggleable div content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Width set to 100% so logout auto start margin can push it far right -->
          <ul class="navbar-nav mb-2 mb-lg-0" style="width: 100%;">
            <li class="nav-item border border-light px-2 ms-2  my-1"><a class="nav-link " aria-current="page" href="{{ url_for('main.index') }}">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- NEW -->

      
    <div class="container mt-3">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous">
    </script>
</body>
</html>